In [1]:
import numpy as np
import pandas as pd

In [2]:
column_names = ["Time_of_Birth", "Sex", "Birth_Weight", "Minutes_After_Midnight"]
column_widths = [8, 8, 8, 8]
df = pd.read_fwf("source/babyboom.dat.txt", widths=column_widths, names=column_names)
df

    Time_of_Birth  Sex  Birth_Weight  Minutes_After_Midnight
0               5    1          3837                       5
1             104    1          3334                      64
2             118    2          3554                      78
3             155    2          3838                     115
4             257    2          3625                     177
5             405    1          2208                     245
6             407    1          1745                     247
7             422    2          2846                     262
8             431    2          3166                     271
9             708    2          3520                     428
10            735    2          3380                     455
11            812    2          3294                     492
12            814    1          2576                     494
13            909    1          3208                     549
14           1035    2          3521                     635
15           1049    1          3746                     649
16           1053    1          3523                     653
17           1133    2          2902                     693
18           1209    2          2635                     729
19           1256    2          3920                     776
20           1305    2          3690                     785
21           1406    1          3430                     846
22           1407    1          3480                     847
23           1433    1          3116                     873
24           1446    1          3428                     886
25           1514    2          3783                     914
26           1631    2          3345                     991
27           1657    2          3034                    1017
28           1742    1          2184                    1062
29           1807    2          3300                    1087
30           1825    1          2383                    1105
31           1854    2          3428                    1134
32           1909    2          4162                    1149
33           1947    2          3630                    1187
34           1949    2          3406                    1189
35           1951    2          3402                    1191
36           2010    1          3500                    1210
37           2037    2          3736                    1237
38           2051    2          3370                    1251
39           2104    2          2121                    1264
40           2123    2          3150                    1283
41           2217    1          3866                    1337
42           2327    1          3542                    1407
43           2355    1          3278                    1435

In [4]:
boys_weight = df[df['Sex'] == 2]['Birth_Weight']
boys_weight

2     3554
3     3838
4     3625
7     2846
8     3166
9     3520
10    3380
11    3294
14    3521
17    2902
18    2635
19    3920
20    3690
25    3783
26    3345
27    3034
29    3300
31    3428
32    4162
33    3630
34    3406
35    3402
37    3736
38    3370
39    2121
40    3150
Name: Birth_Weight, dtype: int64

In [5]:
girls_weight = df[df['Sex'] == 1]['Birth_Weight']
girls_weight

0     3837
1     3334
5     2208
6     1745
12    2576
13    3208
15    3746
16    3523
21    3430
22    3480
23    3116
24    3428
28    2184
30    2383
36    3500
41    3866
42    3542
43    3278
Name: Birth_Weight, dtype: int64

1. Проверка равенства дисперсий (критерий Фишера)

In [6]:
from scipy.stats import f

var1 = np.var(boys_weight, ddof=1)  # ddof=1 для вычисления выборочной дисперсии
var2 = np.var(girls_weight, ddof=1)
F = var1 / var2

alpha = 0.05

n = len(boys_weight) - 1
m = len(girls_weight) - 1

critical_value = f.ppf(1 - alpha / 2, n, m)
p_value = 2 * min(f.cdf(F, n, m), 1 - f.cdf(F, n, m))

if F < critical_value:
    print("Дисперсии равны (не отвергаем нулевую гипотезу)")
else:
    print("Дисперсии различаются (отвергаем нулевую гипотезу)")
print("p-значение:", p_value)

Дисперсии равны (не отвергаем нулевую гипотезу)
p-значение: 0.07526261914284979

2. Так как дисперсии равны, можем сравнивать средние по критерию Стьюдента

In [7]:
from scipy.stats import ttest_ind

t_stat, p_value = ttest_ind(boys_weight, girls_weight)

if p_value < 0.05:
    print("Средние значения выборок различаются (отвергаем нулевую гипотезу)")
else:
    print("Средние значения выборок схожи (не отвергаем нулевую гипотезу)")

print("t-статистика:", t_stat)
print("p-значение:", p_value)

Средние значения выборок схожи (не отвергаем нулевую гипотезу)
t-статистика: 1.5228564442562815
p-значение: 0.1352891891054555