In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('source/surgery.xlsx', skiprows=[0])
new_column_names = ['Before_operation_V_right', 'Before_operation_V_left', 'After_operation_V_right', 'After_operation_V_left']

df.columns = new_column_names
df

,Before_operation_V_right,Before_operation_V_left,After_operation_V_right,After_operation_V_left
0,7.20,6.70,12.00,13.10
1,1.20,1.20,4.50,4.20
2,6.70,7.30,15.30,14.90
3,9.90,10.05,9.60,9.10
4,3.10,2.13,NaN,NaN
...,...,...,...,...
89,3.00,5.40,5.09,6.70
90,0.32,0.33,0.80,0.76
91,6.50,5.30,9.70,8.03
92,11.70,8.30,11.70,9.30
93,11.40,11.50,14.80,16.30

In [3]:
def success_operation(row):
    if row['Before_operation_V_right'] < row['After_operation_V_right'] and row['Before_operation_V_left'] < row['After_operation_V_left']:
        return 1
    else:
        return 0

df['success'] = df.apply(success_operation, axis=1)
df

,Before_operation_V_right,Before_operation_V_left,After_operation_V_right,After_operation_V_left,success
0,7.20,6.70,12.00,13.10,1
1,1.20,1.20,4.50,4.20,1
2,6.70,7.30,15.30,14.90,1
3,9.90,10.05,9.60,9.10,0
4,3.10,2.13,NaN,NaN,0
...,...,...,...,...,...
89,3.00,5.40,5.09,6.70,1
90,0.32,0.33,0.80,0.76,1
91,6.50,5.30,9.70,8.03,1
92,11.70,8.30,11.70,9.30,0
93,11.40,11.50,14.80,16.30,1

In [4]:
observed = pd.crosstab(df['success'], columns='count')
observed = observed.to_numpy().flatten()
observed

array([25, 69], dtype=int64)

In [7]:
from scipy.stats import chisquare

def check_success(p, n, observed):

    expected = [n * (1 - p), n * p]

    chi2_stat, p_value = chisquare(observed, expected, ddof=1)

    if p_value < 0.05:
        print(f"Гипотеза о соответствии данных биномиальному распределению с p={p} отвергается.")
    else:
        print(f"Гипотеза о соответствии данных биномиальному распределению с p={p} не отвергается.")

check_success(0.7, len(df), observed)

Гипотеза о соответствии данных биномиальному распределению с p=0.7 не отвергается.

In [8]:
check_success(0.8, len(df), observed)

Гипотеза о соответствии данных биномиальному распределению с p=0.8 не отвергается.